verbose 
max-jobs
country-name=Polska
name-tag-list=name:pl,name
location-autofill=is_in,nearest
#tdbfile
#index
add-pois-to-areas
remove-short-arcs
preserve-element-order
country-abbr=POL
gmapsupp
nsis
check-styles
merge-lines
reduce-point-density=4
#overview-mapnumber=66018001
#overview-levels=6:16






