verbose 
max-jobs
country-name=Mongolia
name-tag-list=name:en,name
location-autofill=is_in,nearest
tdbfile
index
add-pois-to-areas
link-pois-to-ways
remove-short-arcs
country-abbr=MON
route
net
gmapsupp
nsis
check-styles
process-exits
process-destination
housenumbers
overview-mapnumber=66009001
overview-levels=6:16,7:15





