verbose 
max-jobs
country-name=Polska
name-tag-list=name:pl,name
generate-sea=multipolygon
location-autofill=is_in,nearest
tdbfile
index
add-pois-to-areas
link-pois-to-ways
remove-short-arcs
country-abbr=POL
route
preserve-element-order
net
gmapsupp
nsis
latin1
merge-lines
check-styles
process-exits
process-destination
housenumbers
overview-mapnumber=66007001
overview-levels=5:16,6:15
x-split-name-index





