verbose 
max-jobs
country-name=Polska
name-tag-list=name:pl,name
generate-sea=multipolygon
location-autofill=is_in,nearest
tdbfile
index
add-pois-to-areas
link-pois-to-ways
remove-short-arcs
preserve-element-order
country-abbr=POL
route
net
gmapsupp
nsis
check-styles
process-exits
process-destination
housenumbers
latin1
overview-mapnumber=66007001
overview-levels=6:16,7:15
#reduce-point-density=4
#polygon-size-limits=24:0,23:4,22:8
x-split-name-index




