verbose 
max-jobs
country-name=Polska
name-tag-list=name:pl,name
generate-sea=multipolygon
location-autofill=is_in,nearest
tdbfile
index
add-pois-to-areas
link-pois-to-ways
remove-short-arcs
preserve-element-order
country-abbr=POL
route
net
gmapsupp
nsis
check-styles
process-exits
process-destination
housenumbers
overview-mapnumber=66008001
overview-levels=6:16,7:15
x-split-name-index



